@model SocialNetwork.ViewModels.ChatsViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div>
    @Html.ActionLink("All participants", "AllParticipants", "Chat", new { idChat = Model.Id})
</div>


<div id="scrolList">
    @Html.Partial("_Items")
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4"><input type="hidden" id="userInput" value="@Model.MyUserId" /></div>
    </div>
    <div class="row">
        <div class="col-4"><input type="hidden" id="groupNameInput" value="@Model.Id" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>


    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;&nbsp;
            <input type="button" id="sendButton" value="Send Message" />

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script type="text/javascript" src="~/js/ScrollingInfinite.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
